@tailwind base;
@tailwind components;
@tailwind utilities; 

@font-face {
    font-family: "Canterburry";
    src: url("../dist/fonts/canterbury.ttf");
  }

@font-face {
    font-family: "Apple";
    src: url("../dist/fonts/AppleGaramond.ttf");
  }
.landing{
    background-image: url('../dist/img/landing.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 150%;
    min-height: calc(100vh - 60px);
}
.galshadow{
    box-shadow: 0 -20px 20px 20px #171717
}
.gallery img{
    @apply rounded-sm mb-[24px];
}

.card{
    @apply border-[1px] border-primary shadow-[0_4px_4px_#171717] text-[21px] text-primary bg-white w-[150px] h-[200px] mx-[12px] font-apple pb-2 flex-shrink-0 md:flex-shrink md:w-[225px] md:h-[300px] md:mb-[24px] hover:shadow-[0_0_0_2px_#171717,0_0_0_4px_#FFFFFF,0_0_0_7px_#171717];
    text-align: center;
}
.card img{
    @apply w-[140px] h-[140px] md:w-[210px] md:h-[210px];
}
.card p{
    @apply text-[17px] text-light;
}